/* Start Variables */
:root {
  --main-color: #da0037;
  --sec-color: #ececec;
  --section-padding: 80px;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Main-heading  */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: black;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  width: 14px;
  height: 14px;
  bottom: -38px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}
.main-heading p {
  line-height: 1.5;
  width: 700px;
  margin: 0 auto 40px;
  max-width: 100%;
  color: #777;
  text-align: justify;
  text-align-last: center;
  font-size: 18px;
  padding: 10px;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* End Main-heading  */

/* Start Header  */
header {
  width: 100%;
  position: absolute; /* important */
  z-index: 2;
  left: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.35);
  bottom: 0;
  left: 15px;
}
header .logo img {
  width: 100px;
  height: 80px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
  }
  header nav ul a {
    padding: 15px !important;
  }
}
header nav ul li a {
  padding: 40px 15px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  position: relative;
  z-index: 2;
  transition: 0.3s;
  color: #ffffff;
  transition: 1s;
}
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .toggle-menu {
  color: #ffffff;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid #ffffff;
}
header nav .form i {
  color: #ffffff;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End Header  */

/* Start Landing  */
.landing {
  position: relative;
  background-image: url(../img/refugiados.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 50%);
  width: 100%;
  height: 100%;
}
.landing .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 30px;
  text-align: center;
  border-radius: 6px;
  background-color: #ececec15;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2.5px;
  color: hsla(0, 0%, 100%);
}
.landing .text .content h2 span {
  color: var(--main-color);
}
.landing .change-background {
  color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 50%;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing  */

/* Start Services */
.sec1 {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .sec1 .container .sec1-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
.sec1 .srv {
  display: flex;
  text-align: justify;
  padding: 10px;
}
@media (max-width: 767px) {
  .sec1 .srv {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
  .sec1 .srv .text p {
    text-align: justify;
    text-align-last: center;
  }
}
.sec1 .container .sec1-content .srv h3 {
  margin-bottom: 15px;
  color: var(--main-color);
  font-size: 25px;
}
.sec1 .container .sec1-content .srv p {
  line-height: 1.5;
  color: #777;
  font-size: 20px;
}
/* End Services */

/* Start Design  */
.sec2 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  background-color: var(--sec-color);
}
.sec2 img {
  max-width: 40%;
  margin-right: 20px;
}
.sec2 .text {
  background-color: var(--main-color);
  padding: 40px;
  color: white;
  font-size: 22px;
  flex: 1;
  margin: 50px 0;
}
@media (max-width: 768px) {
  .sec2 {
    flex-direction: column;
  }
  .sec2 img {
    max-width: 100%;
    margin: 0 0 20px;
  }
  .sec2 .text {
    padding: 25px;
    font-size: 18px;
    margin: 0;
  }
}
/* End Design  */



/* Start Video  */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  background-color: var(--transparent-color);
  text-align: center;
  padding: 50px;
  color: white;
}
.video .text h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
}
/* End Video  */

/* Start About  */
.sustainable_development {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
/* End About  */

/* Start Stats  */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  position: relative;
  background-size: cover;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 70%);
}

 .stats .container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 100px 50px;
  align-items: center;
}

 .stats .container .box {
  display: flex;
  position: relative;
  width: 350px;
  height: 350px; 
  background-color: #ffffff;
  border-radius:15px;
  flex-wrap: wrap;
  padding: 20px;
}

 .container .box:hover {
  height:400px;
} 

.container .box .img-box {
  position: absolute;
  border-radius: 12px;
  transition:0.5s;
  overflow: hidden;
}

.container .box:hover .img-box {
  top: -100px; 
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.container .box .img-box img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
} 

.container .box .content2 {
  position: absolute;
  width: 100%;
  padding: 10px 30px;
  text-align: center;
  overflow: hidden;
  top: 252px;
  height: 85px;
  text-align: center;
  transition: 0.5s;
}

.container .box:hover .content2 {
  height: 350px;
  top: 130px;
}

.container .box .content2 h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.container .box .content2 p {
  color: #333;
  font-size:0.9em;
}

/* end Stats */

/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  /* font-weight: normal; */
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(71, 70, 70);
}
.our-skills .container > div > p {
  color: rgb(213, 7, 7);
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
  text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.56);
  -webkit-text-filt-cotor: transparent;
  -webkit-text-stroke-width: 1px;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
.poor-img img{

    width: 100%;
    
}
.poor-img{

    box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.3);
    transition: .7s;
    
}
.poor-img:hover{

    transform: scale(105%,105%);
   
}


@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  top: -40px;
  right: -18px;
  background-color: black;
  color: white;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* End Skills */

/* Start Quote */
.Quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  text-align: center;
  color: white;
}
.Quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.Quote .container {
  position: relative;
}
.Quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* End Quote */



/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */

/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("../img/children-uttar_pradesh-india.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  background-position: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.footer .container {
  position: relative;
}
.footer img {
  width: 120px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 15px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .social-icons i:hover {
  color: var(--main-color);
}
.footer .copyright {
  margin-top: 40px;
  font-size: 20px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
